
.breathe-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.breathe-circle {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 5px solid #a7c4b5;
  border-radius: 50%;
  transition: transform 4s ease-in-out;
}

.breathe-circle.in {
  transform: scale(2);
  transition-duration: 4s;
}

.breathe-circle.hold1 {
  transform: scale(2);
}

.breathe-circle.out {
  transform: scale(1);
  transition-duration: 6s;
}

.breathe-circle.hold2 {
  transform: scale(1);
}

.breathe-text {
  color: white;
  font-size: 24px;
  margin-top: 60px; /* Increased margin */
  font-family: 'Courier New', Courier, monospace;
}
